.flex-h {
  display: flex;
  flex-basis: 50%;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.vid {
  width: 800px;
}

.column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  background-color: brown;
}

.exclude {
  border: none;
  color: lightgray;
}
