body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.vid-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.word-box {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.exclude {
  color: lightgray;
}

.player {
  border: none;
}

.react-player__preview {
  border: none;
}
