/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  font-family: Roboto, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.vid-box {
  /* width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  width: 100%;
  height: 100%;
}

.word-box {
  height: 90vh;
  overflow: auto;
}

video:focus {
  outline: none !important;
}
